<% include ../partials/header %>
<% include ../partials/header2 %>

<hr class="style-four noprint">
<p></p>

<% if(collInNum < 2) { %>
<p></p>
<% } else { %>
<h4 id="count" >Colleagues Expected In:
<%= collInNum %></h4>
<% } %>
<% if(agentcollInNum < 2) { %>
<p></p>
<% } else { %>
<h4 id="count1" >Agency Colleagues In:
<%= agentcollInNum %></h4>
<% } %>
<% if(hygieneNum === 0) { %>
<p></p>
<% } else { %>
<h4 id="count2" >Hygiene Agency Colleagues In:
<%= hygieneNum %></h4>
<% } %>
<div class="container noprint">
    <% if (noMatch.length > 1) { %>
    <div class="row text center">
        <div class="col-md-12">
            <p><%= noMatch %></p>
            <% } %>
            <p>
                <h4>
                <%/*v15*/%>     <form  action="/shift" method="GET" class="form-inline">
                    <%/*v15*/%>         <div class="form-group">
                        <%/*v15*/%>             <input type="text" name="search" placeholder="Colleague search..." class="form-control">
                        <%/*v15*/%>             <input type="submit" value="Search" class="btn btn-default blackgold">
                    <%/*v15*/%>          </div>
                <%/*v15*/%>     </form>
                <p>Please search by Surname!</p>
                </h4>
            <%/*v15*/%> </p>
        </div> <%/*v15*/%>
    </div>
</div>

</div>
<div class="container">
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr><th class="noprint">Book out</th><th>User ID</th><th>Name</th><th>Start Date</th><!-- <th>Organization</th> --><th>Skills</th><!-- <th>Team</th> --><!-- <th>On Shift</th> -->
        </thead>
        <tbody>
            <% tablerow.forEach(function(tablerow){ %> <!--id 1-->
            <% if(tablerow.isIn && tablerow.isIn == true && tablerow.shift === "Earlies") { %>
            <tr>
                <td class="noprint">
                    <form class="myform" action="/shift/<%= tablerow.id %>?_method=PUT" method="POST">
                        <p><input class="check hidden <%= tablerow.firstName + " " + tablerow.lastName %>" disabled="disabled type="checkbox" name="colleague[isIn]">
                    </p>
                    <p><input class="check hidden <%= tablerow.firstName + " " + tablerow.lastName %>" disabled="disabled" type="checkbox" name="colleague[holiday]">
                </p>
                <p><input type="submit" class="btn btn-sm blackgold" value="No Shift" title="Click here if you want to add this colleague to no shift group"></p>
            </form>
        </td>
        <td>
<%= tablerow.userNumber %>
</td>
<td class="szlink">
<div id="<%= tablerow.firstName + " " + tablerow.lastName %>">
    <a href="/colleagues/<%= tablerow._id %>" title="<%= tablerow.colleagueinfo %>"><%= tablerow.firstName + " " + tablerow.lastName %></a>
</div>
</td>
<td>
<%= tablerow.startDate.toLocaleDateString() %>
</td>
 <!-- tablerow.organization -->
<td class="uppercase">
<% for(var prop in tablerow.roles[0]){ %>
<%if(tablerow.roles[0][prop] === true && tablerow.position != "Warehouse Team Manager" && tablerow.position != "Shift Leader"){ %>
<% if (prop == "chutes") { -%>
    <%prop = "CHILL PICK"%>
<% } %>
<span class="smallfont"><%= prop + " | " %></span>
<%}%>
<%}%>

</td>
</tr>

<% }}); %>

</tbody>
</table>
</div>
</div>

</div>
</div>
<% include ../partials/footer %>